/**
 * ==================== Horizontal Gradient ======================
 * 08.04.2016
 */
/* ------------------------------------------- */
/* Mixins
/* ------------------------------------------- */
/* ------------------------------------------- */
/* Toggle Fade
/* ------------------------------------------- */
/* line 64, ../sass/ng-animation.scss */
.toggle {
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }

/* line 66, ../sass/ng-animation.scss */
.toggle.ng-enter {
  opacity: 0;
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms; }

/* line 71, ../sass/ng-animation.scss */
.toggle.ng-enter-active {
  opacity: 1; }

/* line 75, ../sass/ng-animation.scss */
.toggle.ng-leave {
  opacity: 1;
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms; }

/* line 80, ../sass/ng-animation.scss */
.toggle.ng-leave-active {
  opacity: 0; }

/* line 85, ../sass/ng-animation.scss */
.toggle.ng-hide-add {
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 89, ../sass/ng-animation.scss */
.toggle.ng-hide-add.ng-hide-add-active {
  opacity: 0; }

/* line 94, ../sass/ng-animation.scss */
.toggle.ng-hide-remove {
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0; }

/* line 99, ../sass/ng-animation.scss */
.toggle.ng-hide-remove.ng-hide-remove-active {
  opacity: 1; }

/* ------------------------------------------- */
/* Slide Top
/* ------------------------------------------- */
/* line 109, ../sass/ng-animation.scss */
.slide-top {
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }

/* line 111, ../sass/ng-animation.scss */
.slide-top.ng-enter {
  transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0; }

/* line 117, ../sass/ng-animation.scss */
.slide-top.ng-enter-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1; }

/* line 122, ../sass/ng-animation.scss */
.slide-top.ng-leave {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 128, ../sass/ng-animation.scss */
.slide-top.ng-leave-active {
  transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  opacity: 0; }

/* line 134, ../sass/ng-animation.scss */
.slide-top.ng-hide-add {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 139, ../sass/ng-animation.scss */
.slide-top.ng-hide-add.ng-hide-add-active {
  transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  opacity: 0; }

/* line 145, ../sass/ng-animation.scss */
.slide-top.ng-hide-remove {
  transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0; }

/* line 151, ../sass/ng-animation.scss */
.slide-top.ng-hide-remove.ng-hide-remove-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1; }

/* ------------------------------------------- */
/* Slide Rigth
/* ------------------------------------------- */
/* line 163, ../sass/ng-animation.scss */
.slide-right {
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }

/* line 165, ../sass/ng-animation.scss */
.slide-right.ng-enter {
  transform: translateX(60px);
  -ms-transform: translateX(60px);
  -webkit-transform: translateX(60px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0; }

/* line 171, ../sass/ng-animation.scss */
.slide-right.ng-enter-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1; }

/* line 176, ../sass/ng-animation.scss */
.slide-right.ng-leave {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 182, ../sass/ng-animation.scss */
.slide-right.ng-leave-active {
  transform: translateX(60px);
  -ms-transform: translateX(60px);
  -webkit-transform: translateX(60px);
  opacity: 0; }

/* line 188, ../sass/ng-animation.scss */
.slide-right.ng-hide-add {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 193, ../sass/ng-animation.scss */
.slide-right.ng-hide-add.ng-hide-add-active {
  transform: translateX(60px);
  -ms-transform: translateX(60px);
  -webkit-transform: translateX(60px);
  opacity: 0; }

/* line 199, ../sass/ng-animation.scss */
.slide-right.ng-hide-remove {
  transform: translateX(60px);
  -ms-transform: translateX(60px);
  -webkit-transform: translateX(60px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0; }

/* line 205, ../sass/ng-animation.scss */
.slide-right.ng-hide-remove.ng-hide-remove-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1; }

/* ------------------------------------------- */
/* Slide Left
/* ------------------------------------------- */
/* line 217, ../sass/ng-animation.scss */
.slide-left {
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }

/* line 219, ../sass/ng-animation.scss */
.slide-left.ng-enter {
  transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0; }

/* line 225, ../sass/ng-animation.scss */
.slide-left.ng-enter-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1; }

/* line 230, ../sass/ng-animation.scss */
.slide-left.ng-leave {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 236, ../sass/ng-animation.scss */
.slide-left.ng-leave-active {
  transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
  opacity: 0; }

/* line 242, ../sass/ng-animation.scss */
.slide-left.ng-hide-add {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 247, ../sass/ng-animation.scss */
.slide-left.ng-hide-add.ng-hide-add-active {
  transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
  opacity: 0; }

/* line 253, ../sass/ng-animation.scss */
.slide-left.ng-hide-remove {
  transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0; }

/* line 259, ../sass/ng-animation.scss */
.slide-left.ng-hide-remove.ng-hide-remove-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1; }

/* ------------------------------------------- */
/* Slide Down
/* ------------------------------------------- */
/* line 270, ../sass/ng-animation.scss */
.slide-down {
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }

/* line 273, ../sass/ng-animation.scss */
.slide-down.ng-enter {
  transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -webkit-transform: translateY(-60px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0; }

/* line 279, ../sass/ng-animation.scss */
.slide-down.ng-enter-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1; }

/* line 284, ../sass/ng-animation.scss */
.slide-down.ng-leave {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 290, ../sass/ng-animation.scss */
.slide-down.ng-leave-active {
  transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -webkit-transform: translateY(-60px);
  opacity: 0; }

/* line 296, ../sass/ng-animation.scss */
.slide-down.ng-hide-add {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 301, ../sass/ng-animation.scss */
.slide-down.ng-hide-add.ng-hide-add-active {
  transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -webkit-transform: translateY(-60px);
  opacity: 0; }

/* line 307, ../sass/ng-animation.scss */
.slide-down.ng-hide-remove {
  transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -webkit-transform: translateY(-60px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0; }

/* line 313, ../sass/ng-animation.scss */
.slide-down.ng-hide-remove.ng-hide-remove-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1; }

/* ------------------------------------------- */
/* Bouncy Slide Top
/* ------------------------------------------- */
/* line 325, ../sass/ng-animation.scss */
.bouncy-slide-top {
  /* older webkit */
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  /* older webkit */
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }

/* line 328, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-enter {
  transform: translateY(240px);
  -ms-transform: translateY(240px);
  -webkit-transform: translateY(240px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0; }

/* line 334, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-enter-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1; }

/* line 339, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-leave {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 345, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-leave-active {
  transform: translateY(240px);
  -ms-transform: translateY(240px);
  -webkit-transform: translateY(240px);
  opacity: 0; }

/* line 351, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-hide-add {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 356, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-hide-add.ng-hide-add-active {
  transform: translateY(240px);
  -ms-transform: translateY(240px);
  -webkit-transform: translateY(240px);
  opacity: 0; }

/* line 362, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-hide-remove {
  transform: translateY(240px);
  -ms-transform: translateY(240px);
  -webkit-transform: translateY(240px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0; }

/* line 368, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-hide-remove.ng-hide-remove-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1; }

/* ------------------------------------------- */
/* Bouncy Slide Rigth
/* ------------------------------------------- */
/* line 379, ../sass/ng-animation.scss */
.bouncy-slide-right {
  /* older webkit */
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  /* older webkit */
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }

/* line 382, ../sass/ng-animation.scss */
.bouncy-slide-right.ng-enter {
  transform: translateX(240px);
  -ms-transform: translateX(240px);
  -webkit-transform: translateX(240px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0; }

/* line 388, ../sass/ng-animation.scss */
.bouncy-slide-right.ng-enter-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1; }

/* line 393, ../sass/ng-animation.scss */
.bouncy-slide-right.ng-leave {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 399, ../sass/ng-animation.scss */
.bouncy-slide-right.ng-leave-active {
  transform: translateX(240px);
  -ms-transform: translateX(240px);
  -webkit-transform: translateX(240px);
  opacity: 0; }

/* line 405, ../sass/ng-animation.scss */
.bouncy-slide-right.ng-hide-add {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 410, ../sass/ng-animation.scss */
.bouncy-slide-right.ng-hide-add.ng-hide-add-active {
  transform: translateX(240px);
  -ms-transform: translateX(240px);
  -webkit-transform: translateX(240px);
  opacity: 0; }

/* line 416, ../sass/ng-animation.scss */
.bouncy-slide-right.ng-hide-remove {
  transform: translateX(240px);
  -ms-transform: translateX(240px);
  -webkit-transform: translateX(240px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0; }

/* line 422, ../sass/ng-animation.scss */
.bouncy-slide-right.ng-hide-remove.ng-hide-remove-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1; }

/* ------------------------------------------- */
/* Bouncy Slide Left
/* ------------------------------------------- */
/* line 434, ../sass/ng-animation.scss */
.bouncy-slide-left {
  /* older webkit */
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  /* older webkit */
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }

/* line 437, ../sass/ng-animation.scss */
.bouncy-slide-left.ng-enter {
  transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0; }

/* line 443, ../sass/ng-animation.scss */
.bouncy-slide-left.ng-enter-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1; }

/* line 448, ../sass/ng-animation.scss */
.bouncy-slide-left.ng-leave {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 454, ../sass/ng-animation.scss */
.bouncy-slide-left.ng-leave-active {
  transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  opacity: 0; }

/* line 460, ../sass/ng-animation.scss */
.bouncy-slide-left.ng-hide-add {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 465, ../sass/ng-animation.scss */
.bouncy-slide-left.ng-hide-add.ng-hide-add-active {
  transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  opacity: 0; }

/* line 471, ../sass/ng-animation.scss */
.bouncy-slide-left.ng-hide-remove {
  transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0; }

/* line 477, ../sass/ng-animation.scss */
.bouncy-slide-left.ng-hide-remove.ng-hide-remove-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1; }

/* ------------------------------------------- */
/* Bouncy Slide Down
/* ------------------------------------------- */
/* line 488, ../sass/ng-animation.scss */
.bouncy-slide-down {
  /* older webkit */
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  /* older webkit */
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }

/* line 491, ../sass/ng-animation.scss */
.bouncy-slide-down.ng-enter {
  transform: translateY(-240px);
  -ms-transform: translateY(-240px);
  -webkit-transform: translateY(-240px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0; }

/* line 497, ../sass/ng-animation.scss */
.bouncy-slide-down.ng-enter-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1; }

/* line 502, ../sass/ng-animation.scss */
.bouncy-slide-down.ng-leave {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 508, ../sass/ng-animation.scss */
.bouncy-slide-down.ng-leave-active {
  transform: translateY(-240px);
  -ms-transform: translateY(-240px);
  -webkit-transform: translateY(-240px);
  opacity: 0; }

/* line 514, ../sass/ng-animation.scss */
.bouncy-slide-down.ng-hide-add {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 519, ../sass/ng-animation.scss */
.bouncy-slide-down.ng-hide-add.ng-hide-add-active {
  transform: translateY(-240px);
  -ms-transform: translateY(-240px);
  -webkit-transform: translateY(-240px);
  opacity: 0; }

/* line 525, ../sass/ng-animation.scss */
.bouncy-slide-down.ng-hide-remove {
  transform: translateY(-240px);
  -ms-transform: translateY(-240px);
  -webkit-transform: translateY(-240px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0; }

/* line 531, ../sass/ng-animation.scss */
.bouncy-slide-down.ng-hide-remove.ng-hide-remove-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1; }

/* ------------------------------------------- */
/* Scale Fade
/* ------------------------------------------- */
/* line 544, ../sass/ng-animation.scss */
.scale-fade {
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }

/* line 547, ../sass/ng-animation.scss */
.scale-fade.ng-enter {
  transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0; }

/* line 553, ../sass/ng-animation.scss */
.scale-fade.ng-enter-active {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1; }

/* line 558, ../sass/ng-animation.scss */
.scale-fade.ng-leave {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 564, ../sass/ng-animation.scss */
.scale-fade.ng-leave-active {
  transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  opacity: 0; }

/* line 570, ../sass/ng-animation.scss */
.scale-fade.ng-hide-add {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 575, ../sass/ng-animation.scss */
.scale-fade.ng-hide-add.ng-hide-add-active {
  transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  opacity: 0; }

/* line 581, ../sass/ng-animation.scss */
.scale-fade.ng-hide-remove {
  transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0; }

/* line 587, ../sass/ng-animation.scss */
.scale-fade.ng-hide-remove.ng-hide-remove-active {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1; }

/* ------------------------------------------- */
/* Spin Fade
/* ------------------------------------------- */
/* line 598, ../sass/ng-animation.scss */
.spin-toggle {
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }

/* line 601, ../sass/ng-animation.scss */
.spin-toggle.ng-enter {
  transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0; }

/* line 607, ../sass/ng-animation.scss */
.spin-toggle.ng-enter-active {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  opacity: 1; }

/* line 612, ../sass/ng-animation.scss */
.spin-toggle.ng-leave {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 618, ../sass/ng-animation.scss */
.spin-toggle.ng-leave-active {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  opacity: 0; }

/* line 624, ../sass/ng-animation.scss */
.spin-toggle.ng-hide-add {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 629, ../sass/ng-animation.scss */
.spin-toggle.ng-hide-add.ng-hide-add-active {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  opacity: 0; }

/* line 635, ../sass/ng-animation.scss */
.spin-toggle.ng-hide-remove {
  transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0; }

/* line 641, ../sass/ng-animation.scss */
.spin-toggle.ng-hide-remove.ng-hide-remove-active {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  opacity: 1; }

/* ------------------------------------------- */
/* Scale in Fade
/* ------------------------------------------- */
/* line 653, ../sass/ng-animation.scss */
.scale-fade-in {
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }

/* line 656, ../sass/ng-animation.scss */
.scale-fade-in.ng-enter {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0; }

/* line 662, ../sass/ng-animation.scss */
.scale-fade-in.ng-enter-active {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1; }

/* line 667, ../sass/ng-animation.scss */
.scale-fade-in.ng-leave {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 673, ../sass/ng-animation.scss */
.scale-fade-in.ng-leave-active {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  opacity: 0; }

/* line 679, ../sass/ng-animation.scss */
.scale-fade-in.ng-hide-add {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 684, ../sass/ng-animation.scss */
.scale-fade-in.ng-hide-add.ng-hide-add-active {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  opacity: 0; }

/* line 690, ../sass/ng-animation.scss */
.scale-fade-in.ng-hide-remove {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important;
  opacity: 0; }

/* line 696, ../sass/ng-animation.scss */
.scale-fade-in.ng-hide-remove.ng-hide-remove-active {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1; }

/* ------------------------------------------- */
/* Bouncy Scale in Fade
/* ------------------------------------------- */
/* line 708, ../sass/ng-animation.scss */
.bouncy-scale-in {
  /* older webkit */
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  /* older webkit */
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }

/* line 711, ../sass/ng-animation.scss */
.bouncy-scale-in.ng-enter {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  transition-duration: 450ms;
  -webkit-transition-duration: 450ms;
  opacity: 0; }

/* line 717, ../sass/ng-animation.scss */
.bouncy-scale-in.ng-enter-active {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1; }

/* line 722, ../sass/ng-animation.scss */
.bouncy-scale-in.ng-leave {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transition-duration: 450ms;
  -webkit-transition-duration: 450ms;
  opacity: 1; }

/* line 728, ../sass/ng-animation.scss */
.bouncy-scale-in.ng-leave-active {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  opacity: 0; }

/* line 734, ../sass/ng-animation.scss */
.bouncy-scale-in.ng-hide-add {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transition-duration: 450ms;
  -webkit-transition-duration: 450ms;
  opacity: 1; }

/* line 739, ../sass/ng-animation.scss */
.bouncy-scale-in.ng-hide-add.ng-hide-add-active {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  opacity: 0; }

/* line 745, ../sass/ng-animation.scss */
.bouncy-scale-in.ng-hide-remove {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  transition-duration: 450ms;
  -webkit-transition-duration: 450ms;
  display: block !important;
  opacity: 0; }

/* line 751, ../sass/ng-animation.scss */
.bouncy-scale-in.ng-hide-remove.ng-hide-remove-active {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1; }

/* ------------------------------------------- */
/* Flip In
/* ------------------------------------------- */
/* line 763, ../sass/ng-animation.scss */
.flip-in {
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }

/* line 766, ../sass/ng-animation.scss */
.flip-in.ng-enter {
  transform: perspective(300px) rotateX(90deg);
  -ms-transform: perspective(300px) rotateX(90deg);
  -webkit-transform: perspective(300px) rotateX(90deg);
  transition-duration: 550ms;
  -webkit-transition-duration: 550ms;
  opacity: 0.7; }

/* line 772, ../sass/ng-animation.scss */
.flip-in.ng-enter-active {
  transform: perspective(300px) rotateX(0deg);
  -ms-transform: perspective(300px) rotateX(0deg);
  -webkit-transform: perspective(300px) rotateX(0deg);
  opacity: 1; }

/* line 777, ../sass/ng-animation.scss */
.flip-in.ng-leave {
  transform: perspective(300px) rotateX(0deg);
  -ms-transform: perspective(300px) rotateX(0deg);
  -webkit-transform: perspective(300px) rotateX(0deg);
  transition-duration: 550ms;
  -webkit-transition-duration: 550ms;
  opacity: 1; }

/* line 783, ../sass/ng-animation.scss */
.flip-in.ng-leave-active {
  transform: perspective(300px) rotateX(135deg);
  -ms-transform: perspective(300px) rotateX(135deg);
  -webkit-transform: perspective(300px) rotateX(135deg);
  opacity: 0.7; }

/* line 789, ../sass/ng-animation.scss */
.flip-in.ng-hide-add {
  transform: perspective(300px) rotateX(0deg);
  -ms-transform: perspective(300px) rotateX(0deg);
  -webkit-transform: perspective(300px) rotateX(0deg);
  transition-duration: 550ms;
  -webkit-transition-duration: 550ms;
  opacity: 1; }

/* line 794, ../sass/ng-animation.scss */
.flip-in.ng-hide-add.ng-hide-add-active {
  transform: perspective(300px) rotateX(135deg);
  -ms-transform: perspective(300px) rotateX(135deg);
  -webkit-transform: perspective(300px) rotateX(135deg);
  opacity: 0; }

/* line 800, ../sass/ng-animation.scss */
.flip-in.ng-hide-remove {
  transform: perspective(300px) rotateX(90deg);
  -ms-transform: perspective(300px) rotateX(90deg);
  -webkit-transform: perspective(300px) rotateX(90deg);
  transition-duration: 550ms;
  -webkit-transition-duration: 550ms;
  display: block !important;
  opacity: 0; }

/* line 806, ../sass/ng-animation.scss */
.flip-in.ng-hide-remove.ng-hide-remove-active {
  transform: perspective(300px) rotateX(0deg);
  -ms-transform: perspective(300px) rotateX(0deg);
  -webkit-transform: perspective(300px) rotateX(0deg);
  opacity: 1; }

/* ------------------------------------------- */
/* Rotate In
/* ------------------------------------------- */
/* line 817, ../sass/ng-animation.scss */
.rotate-in {
  /* older webkit */
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  /* older webkit */
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }

/* line 820, ../sass/ng-animation.scss */
.rotate-in.ng-enter {
  transform: perspective(300px) rotateY(40deg);
  -ms-transform: perspective(300px) rotateY(40deg);
  -webkit-transform: perspective(300px) rotateY(40deg);
  transition-duration: 550ms;
  -webkit-transition-duration: 550ms;
  opacity: 0.7; }

/* line 826, ../sass/ng-animation.scss */
.rotate-in.ng-enter-active {
  transform: perspective(300px) rotateY(0deg);
  -ms-transform: perspective(300px) rotateY(0deg);
  -webkit-transform: perspective(300px) rotateY(0deg);
  opacity: 1; }

/* line 831, ../sass/ng-animation.scss */
.rotate-in.ng-leave {
  transform: perspective(300px) rotateY(0deg);
  -ms-transform: perspective(300px) rotateY(0deg);
  -webkit-transform: perspective(300px) rotateY(0deg);
  transition-duration: 550ms;
  -webkit-transition-duration: 550ms;
  opacity: 1; }

/* line 837, ../sass/ng-animation.scss */
.rotate-in.ng-leave-active {
  transform: perspective(300px) rotateY(-40deg);
  -ms-transform: perspective(300px) rotateY(-40deg);
  -webkit-transform: perspective(300px) rotateY(-40deg);
  opacity: 0.7; }

/* line 843, ../sass/ng-animation.scss */
.rotate-in.ng-hide-add {
  transform: perspective(300px) rotateY(0deg);
  -ms-transform: perspective(300px) rotateY(0deg);
  -webkit-transform: perspective(300px) rotateY(0deg);
  transition-duration: 550ms;
  -webkit-transition-duration: 550ms;
  opacity: 1; }

/* line 848, ../sass/ng-animation.scss */
.rotate-in.ng-hide-add.ng-hide-add-active {
  transform: perspective(300px) rotateY(-40deg);
  -ms-transform: perspective(300px) rotateY(-40deg);
  -webkit-transform: perspective(300px) rotateY(-40deg);
  opacity: 0; }

/* line 854, ../sass/ng-animation.scss */
.rotate-in.ng-hide-remove {
  transform: perspective(300px) rotateY(40deg);
  -ms-transform: perspective(300px) rotateY(40deg);
  -webkit-transform: perspective(300px) rotateY(40deg);
  transition-duration: 550ms;
  -webkit-transition-duration: 550ms;
  display: block !important;
  opacity: 0; }

/* line 860, ../sass/ng-animation.scss */
.rotate-in.ng-hide-remove.ng-hide-remove-active {
  transform: perspective(300px) rotateY(0deg);
  -ms-transform: perspective(300px) rotateY(0deg);
  -webkit-transform: perspective(300px) rotateY(0deg);
  opacity: 1; }

body.aa-modal-overlay {
  overflow-y: hidden; }

i[data-destroy-modal] {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 18px;
  z-index: 1; }
  i[data-destroy-modal]:hover {
    color: #df4343; }

/**
 * ==================================================
 * ==================== Modals ======================
 * ==================================================
 */
.modal-backdrop[itemscope="aa-modal"] {
  background-color: rgba(255, 255, 255, 0.67);
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 9991;
  opacity: 0;
  transition: all, 0.3s;
  /*Mobile*/ }
  .modal-backdrop[itemscope="aa-modal"] .aa-modal-container {
    position: absolute;
    max-height: 90%;
    top: 60px;
    left: 50%;
    width: 100%;
    max-width: 1000px;
    margin-left: -500px;
    overflow-y: auto;
    z-index: 5;
    padding: 15px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    transition: all, 0.3s;
    /**
		 * =========================================================================
		 * ==================== Default Modal animation state ======================
		 * =========================================================================
		 */ }
    .modal-backdrop[itemscope="aa-modal"] .aa-modal-container[data-animation="scale"] {
      transform: scale(0.5); }
    .modal-backdrop[itemscope="aa-modal"] .aa-modal-container[data-animation="flip-x"] {
      transform: rotateX(45deg); }
    .modal-backdrop[itemscope="aa-modal"] .aa-modal-container[data-animation="flip-y"] {
      transform: rotateY(45deg); }
  @media (max-width: 1005px) {
    .modal-backdrop[itemscope="aa-modal"] .aa-modal-container {
      display: block;
      width: 100%;
      left: auto;
      margin-left: auto; } }
  .modal-backdrop[itemscope="aa-modal"].show {
    opacity: 1; }
    .modal-backdrop[itemscope="aa-modal"].show .aa-modal-container {
      /**
			 * =================================================================
			 * ==================== Show modal Animations ======================
			 * =================================================================
			 */ }
      .modal-backdrop[itemscope="aa-modal"].show .aa-modal-container[data-animation="scale"] {
        transform: scale(1); }
      .modal-backdrop[itemscope="aa-modal"].show .aa-modal-container[data-animation="flip-x"] {
        transform: rotateX(0deg); }
      .modal-backdrop[itemscope="aa-modal"].show .aa-modal-container[data-animation="flip-y"] {
        transform: rotateY(0deg); }

/**
 * ==================================================
 * ==================== Alerts ======================
 * ==================================================
 */
.alert-backdrop {
  background-color: rgba(255, 255, 255, 0.67);
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 200;
  opacity: 0;
  transition: all, 0.3s;
  /*Mobile*/ }
  .alert-backdrop .alert {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 100%;
    max-width: 500px;
    margin-left: -250px;
    z-index: 5;
    text-align: center;
    transition: all, 0.3s;
    transform: scale(0.5); }
  @media (max-width: 767px) {
    .alert-backdrop .alert {
      display: block;
      width: 100%;
      left: auto;
      margin-left: auto; } }
  .alert-backdrop.show {
    opacity: 1; }
    .alert-backdrop.show .alert {
      transform: scale(1); }

/**
 * ==================== Modals define and config ======================
 * 12.06.2016
 */
#users-handler .userpic-sm {
  width: 40px;
  float: left; }
  #users-handler .userpic-sm:hover {
    opacity: .7; }

#users-handler .userinfo {
  padding-left: 50px; }

#users-handler .userinfo-single {
  padding-left: 210px; }

#users-handler h4 {
  margin-top: 0;
  margin-bottom: 0; }

#users-handler h3 {
  margin-top: 0; }

#users-handler .table-striped tbody > tr:nth-of-type(odd) {
  background-color: rgba(32, 158, 145, 0.3); }

#users-handler .table-striped tbody > tr > td, #users-handler .table-striped tbody > tr > th {
  border-color: #1f4c54; }

.figure-image {
  transition: all, 0.3s;
  float: left;
  display: inline-block;
  opacity: 0;
  width: 200px;
  height: 200px;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #00d5c7; }
  .figure-image img {
    display: block;
    width: 100%;
    height: auto; }
  .figure-image.avatar-appear {
    opacity: 1; }

.auth-profile-links i, .auth-profile-links img {
  margin-right: 10px; }

.user-footer-actions {
  text-align: right;
  margin-top: 3px; }
  .user-footer-actions a {
    margin-left: 5px; }
  .user-footer-actions ul.role {
    display: inline;
    color: rgba(255, 255, 255, 0.7); }
  .user-footer-actions .date {
    float: left; }

.edit-user-btn {
  position: absolute;
  right: 0;
  top: 0; }

body {
  overflow-x: hidden; }
  body:before {
    content: "";
    display: block;
    position: fixed;
    background: url("../img/aa-blur.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%; }
  body > .navbar-static-top {
    position: fixed;
    width: 100%; }

.dashboard-container-info {
  padding-top: 70px; }

.fafont {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome !important;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.alert-backdrop h1, .alert-backdrop h2 {
  margin-top: 0; }

.relative-container {
  position: relative; }

.alert-backdrop,
.default-backend-modal,
#add-a-user-modal {
  background-color: rgba(126, 65, 0, 0.34);
  background: linear-gradient(to bottom, #000 0%, rgba(126, 65, 0, 0.34) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ie-hex-str($color1)', startColorstr='#ie-hex-str($color2)', GradientType=0); }
  .alert-backdrop .aa-modal-container,
  .default-backend-modal .aa-modal-container, #add-a-user-modal .aa-modal-container {
    border-radius: 1px;
    padding-top: 35px;
    padding-bottom: 15px; }
  .alert-backdrop input.ng-invalid.ng-touched,
  .default-backend-modal input.ng-invalid.ng-touched, #add-a-user-modal input.ng-invalid.ng-touched {
    box-shadow: 0 0 5px rgba(223, 67, 67, 0.7); }
  .alert-backdrop input.ng-valid.ng-touched,
  .default-backend-modal input.ng-valid.ng-touched, #add-a-user-modal input.ng-valid.ng-touched {
    box-shadow: 0 0 5px rgba(45, 165, 25, 0.5); }
  .alert-backdrop .alert,
  .default-backend-modal .alert, #add-a-user-modal .alert {
    border-radius: 1px; }

.input-group {
  margin-bottom: 10px; }
  .input-group ::-webkit-input-placeholder {
    color: rgba(2, 206, 255, 0.7); }
  .input-group ::-moz-placeholder {
    color: rgba(2, 206, 255, 0.7); }
  .input-group :-ms-input-placeholder {
    color: rgba(2, 206, 255, 0.7); }
  .input-group :-moz-placeholder {
    color: rgba(2, 206, 255, 0.7); }
  .input-group .form-control {
    background-color: rgba(32, 158, 145, 0.3);
    border-color: #1f4c54;
    border-radius: 0;
    color: #fff; }
  .input-group select option {
    background-color: #1f4c54;
    border-color: transparent; }
  .input-group.full-width-input {
    width: 100%; }

.dashboard-main-title {
  margin-top: 0;
  color: #fff; }

.aa-input-group {
  margin-bottom: 10px; }
  .aa-input-group .form-control {
    border-radius: 1px;
    color: #265d67; }
  .aa-input-group.turqose-group input[type='text'],
  .aa-input-group.turqose-group input[type='email'], .aa-input-group.turqose-group select {
    border-color: #209e91;
    background-color: #B3D5D4; }

.dashboard-link, .navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > .open > a, .navbar-default .dropdown-menu a {
  background-color: transparent;
  color: #00d5c7; }
  .dashboard-link:hover, .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .dropdown-menu a:hover, .dashboard-link:focus, .navbar-default .navbar-brand:focus,
  .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .dropdown-menu a:focus {
    background-color: transparent;
    color: #209e91 !important; }

.wide-container {
  width: 100%; }

.navbar-default {
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23); }
  .navbar-default .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.55); }

/**
 * ==================== Aside ======================
 * 09.06.2016
 */
#dashboard-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  padding: 0;
  min-height: 150px;
  background-color: rgba(0, 0, 0, 0.55);
  height: 100%;
  overflow-y: auto; }
  #dashboard-sidebar .sidebar-gap {
    height: 60px; }
  #dashboard-sidebar > ul > li {
    border-top: 1px solid rgba(86, 86, 86, 0.46);
    border-bottom: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.55); }
    #dashboard-sidebar > ul > li.divider {
      height: 3px;
      border: none !important;
      background-color: #183b42;
      display: block; }
      #dashboard-sidebar > ul > li.divider:before, #dashboard-sidebar > ul > li.divider:after {
        content: " ";
        display: table; }
      #dashboard-sidebar > ul > li.divider:after {
        clear: both; }
  #dashboard-sidebar > ul a {
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    display: block;
    transition: all, 0.3s; }
    #dashboard-sidebar > ul a i {
      color: #209e91;
      margin-right: 10px; }
    #dashboard-sidebar > ul a:hover {
      background-color: #209e91; }
      #dashboard-sidebar > ul a:hover i {
        color: #265d67; }
    #dashboard-sidebar > ul a.active {
      background-color: #209e91; }
      #dashboard-sidebar > ul a.active i {
        color: #265d67; }

.section-item, #users-handler > section, #settings-scope section, .dashboard-section {
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-top: 1px solid rgba(32, 158, 145, 0.5);
  background-color: rgba(38, 93, 103, 0.6);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.26);
  border-radius: 1px; }
  .section-item a, #users-handler > section a, #settings-scope section a, .dashboard-section a {
    color: #00d5c7; }
    .section-item a:hover, #users-handler > section a:hover, #settings-scope section a:hover, .dashboard-section a:hover {
      color: #02CEFF; }
  .section-item i.fa-remove, #users-handler > section i.fa-remove, #settings-scope section i.fa-remove, .dashboard-section i.fa-remove {
    float: right;
    cursor: pointer; }
    .section-item i.fa-remove:hover, #users-handler > section i.fa-remove:hover, #settings-scope section i.fa-remove:hover, .dashboard-section i.fa-remove:hover {
      color: #df4343; }

.btn {
  border-radius: 1px; }
  .btn.btn-default {
    background-color: rgba(211, 211, 211, 0.72); }
    .btn.btn-default:hover {
      background-color: #e8e8e8; }
  .btn:focus {
    outline: none; }

ul.list-inline {
  margin-bottom: 0; }

/*# sourceMappingURL=dashboard.css.map */
