<div class="row">
	<div class="col-sm-8">
		<div class="admin-actions input-group" ng-if="userCanmanage">
			<button class="btn btn-default" data-related-modal="#add-a-user-modal" data-modal-trigger="addUserScope">
				Add New User
			</button>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="input-group full-width-input">
			<input type="text" placeholder="Search" ng-model="searchUser" class="form-control">
		</div>
	</div>
</div>

<section class="scale-fade clearfix" ng-repeat="usr in users | filter:searchUser" ng-style="{'transition-delay':'0.1s'}">
	<i class="fa fa-remove" ng-click="destroyUser(usr.id, $index)"></i>
	<a class="userpic-sm" href="#/users/{{usr.id}}">
		<img ng-src="{{usr.gravatarImage}}" alt="alt">
	</a>
	<div class="userinfo">
		<h4><a href="#/users/{{usr.id}}">#{{usr.id}} {{usr.name}} | {{usr.email}}</a></h4>

		<footer class="clearfix user-footer-actions">
			<span class="date">{{usr._date | date: 'MMM dd yyyy'}}</span>
			<ul class="role list-inline">
				<li ng-repeat="rl in usr.roles">
					{{rl.label}}
				</li>
			</ul>
			<span><a href="#/users/{{usr.id}}">View</a></span>
			<span><a href="#/users/edit/{{usr.id}}">Edit</a></span>
		</footer>
	</div>
</section>
<a href="" ng-click="loadmore()" class="btn btn-default">Load More</a>