body {
	overflow-x : hidden;
	&:before {
		content         : "";
		display         : block;
		position        : fixed;
		//background      : url("../img/blur-bg.jpg") center center no-repeat;
		background      : url("../img/aa-blur.jpg") center center no-repeat;
		background-size : cover;
		width           : 100%;
		height          : 100%;
	}
	> .navbar-static-top {
		position : fixed;
		width    : 100%;
	}
}
.dashboard-container-info {
	padding-top : 70px;
}

.fafont {
	display                 : inline-block;
	font                    : normal normal normal 14px/1 FontAwesome !important;
	font-size               : inherit;
	text-rendering          : auto;
	-webkit-font-smoothing  : antialiased;
	-moz-osx-font-smoothing : grayscale;
}

.alert-backdrop {
	h1, h2 {
		margin-top : 0;
	}
}

.relative-container {
	position : relative;
}

.alert-backdrop,
.default-backend-modal {
	//@include gradient(#000, transparentize($darkTurquose, .8));
	@include gradient(#000, rgba(126, 65, 0, 0.34));
	.aa-modal-container {
		border-radius  : 1px;
		padding-top    : 35px;
		padding-bottom : 15px;
	}
	input.ng-invalid.ng-touched {
		box-shadow : 0 0 5px transparentize($dangerColor, .3);
	}

	input.ng-valid.ng-touched {
		box-shadow : 0 0 5px transparentize($successColor, .5);
	}
	.alert {
		border-radius : 1px;
	}
}

.input-group {
	margin-bottom : 10px;
	@include placeholder-color(transparentize($azure, .3));
	.form-control {
		background-color : transparentize($turquoise2, .7);
		border-color     : darken($darkTurquose, 5%);
		border-radius    : 0;
		color            : #fff;
	}
	select {
		option {
			background-color : darken($darkTurquose, 5%);
			border-color     : transparent;
		}
	}
	&.full-width-input {
		width : 100%;
	}
}

.dashboard-main-title {
	margin-top : 0;
	color      : #fff;
}

.aa-input-group {
	margin-bottom : 10px;
	.form-control {
		border-radius : 1px;
		color         : $darkTurquose;
	}
	&.turqose-group {
		input[type='text'],
		input[type='email'], select {
			border-color     : $turquoise2;
			background-color : $lighturqose;

		}
	}
}

#add-a-user-modal {
	@extend .default-backend-modal;
}

.dashboard-link {
	background-color : transparent;
	color            : $turquoise;
	&:hover, &:focus {
		background-color : transparent;
		color            : $turquoise2 !important;
	}
}

.wide-container {
	width : 100%;
}

.navbar-default {
	background-color : rgba(0, 0, 0, 0.60);
	border           : none;
	box-shadow       : 0 5px 10px rgba(0, 0, 0, 0.23);

	.navbar-brand,
	.navbar-nav > li > a {
		@extend .dashboard-link;
	}
	.navbar-nav {
		> .open > a {
			@extend .dashboard-link;
		}
	}
	.dropdown-menu {
		background-color : rgba(0, 0, 0, 0.55);
		a {
			@extend .dashboard-link;
		}
	}
}

/**
 * ==================== Aside ======================
 * 09.06.2016
 */
#dashboard-sidebar {
	position         : fixed;
	left             : 0;
	top              : 0;
	padding          : 0;
	min-height       : 150px;
	background-color : rgba(0, 0, 0, 0.55);
	height           : 100%;
	overflow-y       : auto;
	.sidebar-gap {
		height : 60px;
	}
	> ul {
		> li {
			border-top       : 1px solid rgba(86, 86, 86, 0.46);
			border-bottom    : 1px solid #000;
			background-color : rgba(0, 0, 0, 0.55);
			&.divider {
				@include clearfix();
				height           : 3px;
				border           : none !important;
				background-color : darken($darkTurquose, 10%);
				display          : block;
			}
		}
		a {
			padding         : 10px 15px;
			color           : #fff;
			text-decoration : none;
			display         : block;
			@include transition();
			i {
				color        : $turquoise2;
				margin-right : 10px;
			}
			&:hover {
				background-color : $turquoise2;
				i {
					color : $darkTurquose;
				}
			}
			&.active {
				background-color : $turquoise2;
				i {
					color : $darkTurquose;
				}
			}
		}
	}
}

.section-item {
	color            : #fff;
	padding          : 10px;
	margin-bottom    : 10px;
	border-top       : 1px solid transparentize($turquoise2, .5);
	background-color : transparentize($darkTurquose, .4);
	box-shadow       : 0 5px 10px rgba(0, 0, 0, 0.26);
	border-radius    : 1px;
	a {
		color : $turquoise;
		&:hover {
			color : $azure;
		}
	}

	i.fa-remove {
		float  : right;
		cursor : pointer;
		&:hover {
			color : $dangerColor;
		}
	}
}

.dashboard-section {
	@extend .section-item;
}

.btn {
	border-radius : 1px;
	&.btn-default {
		background-color : rgba(211, 211, 211, 0.72);
		&:hover {
			background-color : #e8e8e8;
		}
	}
	&:focus {
		outline : none;
	}
}

ul.list-inline {
	margin-bottom : 0;
}

.db-inputs {
	.form-control {
		border-radius: 1px;
	}
	input.ng-invalid.ng-touched {
		background-color : transparentize($dangerColor, .7);
	}

	input.ng-valid.ng-touched {
		background-color : transparentize($successColor, .7);
	}
}

.display-table {
	display : table;
	width : 100%;
	.table-cell {
		display : table-cell;
	}
}


a.btn {
	&.btn-default {
		color : $text-color !important;
	}
	&.btn-warning,
	&.btn-primary,
	&.btn-danger {
		color : #fff !important;
	}
	&.btn-sm {
		padding : 3px 10px;
	}
}

.s2-select-tags-wrap {
	> * {
		width : 100% !important;
	}
}